{% extends 'base.html' %}

{% block 'lion_king_detail' %}

        <div id='lion-king-body'>

        <div class='lion-king-image'></div>

        <p class='lion-king-description'>A Lion cub crown prince is tricked by a treacherous uncle
         into thinking he caused his father's death and flees into
        exile in despair, only to learn in adulthood his identity
        and his responsibilities.</p>
        
        <div id='rating-block'>
            <h2 class="rating">Rating</h2>
            <div class='rating-stars'>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
            </div>
        </div>
        
    </div>
    <hr>

{% endblock 'lion_king_detail' %}