{% extends 'base.html' %}
{% block 'shrek-detail' %}

    <div id='shrek-body'>

        <div class='shrek-image'></div>

        <p class='shrek-description'>Shrek, 
        animated cartoon character, a towering, 
        green ogre whose fearsome appearance belies a kind heart.
        Shrek is the star of a highly successful series of animated films.
        At the beginning of the 2001 film Shrek,
        the title character lives as a recluse in a remote swamp
        in the fairy-tale land of Duloc.</p>
        
        <div id='rating-block'>
            <h2 class="rating">Rating</h2>
            <div class='rating-stars'>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
        </div>
        
    </div>
    <hr>

{% endblock 'shrek-detail' %}